<! DOCTYPE html>
<head>
  <title>MAGIC</title>
  <link rel="stylesheet" type="text/css" href="../../../public/stylesheets/bootstrap-3.3.5-dist/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="../../../public/stylesheets/main.css" />
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic' rel='stylesheet' type='text/css'>
</head>

<body>
  <!-- Banner -->
  <img src="../../../public/images/autodesk_logo_detail.png" style="width:10%"/>
  <img id="banner" src="../../../public/images/magic-mentorship-program-600x129.png"/>

  <!-- Sign Up for New Users -->
  <div class="container">
    <h1>Fill out your preferences</h1>
    <div class="columns">
      <div class="col-box">
        <h2>Technical Skills</h2>
        <div class="text-box">Check</div>
        <div class="text-box">Check</div>
        <div class="text-box">Check</div>
        <div class="text-box">Check</div>
      </div>
      <div class="col-box">
        <h2>Nontechnical Skills</h2>
        <div class="text-box">Check</div>
        <div class="text-box">Check</div>
        <div class="text-box">Check</div>
        <div class="text-box">Check</div>
        <div class="text-box">Check</div>
      </div>
      </div>
      <div class="btn">Generate!</div>
    </div>


  </div>
</body>

<footer>Autodesk Team Interns</footer>
</html>
