<! DOCTYPE html>
	<head>
		<title>MAGIC</title>
	    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/main.css" />
        <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic' rel='stylesheet' type='text/css'>
	</head>

	<body>

    <!-- <img src="autodesk_logo_detail.png" style"width: 10%"> -->
	<img id="banner" src="../assets/images/magic-mentorship-program-600x129.png">

		<div class="container">
            <div class="box">
                <h1>Sign Up</h1>
                <div class="text-box">name</div>
                <div class="text-box">email address</div>
                <div class="text-box">password</div>
                <div class="btn">sign up</div>
                <div class="fifty">Already signed up? <a href="login.html">Login.</a></div>
            </div>
				
		</div>
	</body>

	<footer>Autodesk Team Interns</footer>


</html> 