<! DOCTYPE html>
	<head>
		<title>MAGIC</title>
	    <link rel="stylesheet" type="text/css" href="temp.css" />
        <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic' rel='stylesheet' type='text/css'>
	</head>

	<body>

    <!-- <img src="autodesk_logo_detail.png" style"width: 10%"> -->
	<img id="banner" src="magic-mentorship-program-600x129.png">

		<div class="container">
            <div class="box">
    			<h1>Login</h1>
                <div class="text-box">email address</div>
                <div class="text-box">password</div>
                <div class="btn">log in</div>
                <div class="fifty">New? <a href="temp.html">sign up.</a></div>
            </div>
				
		</div>
	</body>

	<footer>Autodesk Team Interns</footer>


</html> 